@charset "UTF-8";

body {
    background-color: rgb(183, 243, 124);
    font-family: Arial, Helvetica, sans-serif
}

h1 {
     color: green;
}

h1#principal {
    text-align: center;
    background-color: greenyellow;
    color: white;
}

h2 {
    color: green;

}

.basico {
 color: rgb(69, 126, 69);
}

.intermediario {
    color: rgb(134, 134, 53);

}

.avancado {
 color: rgb(145, 51, 51);
}