@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
        text-align: left;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}