@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body, html {
    background-color: lightgray;
}

header {
    background-color: gray;
}

header, h1 {
    text-align: center;
    padding: 10px;
}

span#burguer {
    background-color: rgb(66, 66, 66);
    display: block;
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

span#burguer:hover {
    color: black;
    background-color: white;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  background-color: rgb(90, 89, 89);
  color: white;
  border-top: 2px solid gray;
}

menu > ul > li > a:hover {
    background-color: rgb(105, 105, 105);
}
main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article h2 {
    padding-bottom: 20px;
}

article p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;

}